<!DOCTYPE html>
<html lang="de-DE">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>BENAS GmbH - Biogas</title>
      <meta name="description" content="Biogas im Allgemeinen">
      <link rel="stylesheet" href="style.css">
   </head>
   <body class="biogas">
      <header>
         <input type="checkbox" id="menuToggle">
         <label for="menuToggle" class="menu-icon">&#9776;</label>
         <a href="index.html" title="Home"><img class="logo" src="Images/Logo.png" alt="Benas Logo" /></a>   
         <nav class="menu-mobile">
            <ul class="menu-ul">
               <li class="home"><a href="index.html">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
         <nav class="menu-desktop">
            <ul class="menu-ul">
               <li class="home"><a href="index.html">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
      </header>
       
       <!-- Alter Box!
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            Diese Website befindet sich momentan im Umbau. Hier dargestellte Informationen sind möglicherweise noch nicht aktuell. 
        </div> -->
       
      <div class="biogas-wrapper">
         <div class="biogas-content-wrapper">
            <h1>Die Funktionsweise von Biogas</h1>
            <p>Biogas bildet sich in der Natur immer dann, wenn sich organische Verbindungen unter Luftabschluss zersetzen, z.B. bei der Verwesung von totem tierischem und pflanzlichem Material. Dafür sind anaerobe Bakterien, die ohne Sauerstoff leben können, verantwortlich. Der in mehreren Stufen ablaufende Prozess findet z.B. in Sümpfen und Mooren, auf Reisfeldern, im Dickdarm von Tieren und Menschen - vor allem in den Mägen der Wiederkäuer, in Misthaufen und Jauchegruben oder auf Müllkippen statt. Vereinfacht kann für die Biogasentstehung folgende Reaktionsgleichung angegeben werden:</p>
            <p>Gülle ----anaerobe Bakterien/40°C----> Methan  +  Kohlendioxid  +  Faulschlamm</p>
            <p>Methan gehört neben Kohlendioxid zu den Hauptverursachern des Treibhauseffekts. Bei der Nutzung von Biogas wird kein Methan und Lachgas freigesetzt - wie z.B. bei der normalen Lagerung von organischen Stoffen. Zudem wird durch den produzierten Strom durch Kohle oder Öl produzierter Strom ersetzt. Es werden somit zweimal klimaschädliche Gase eingespart. Die Geruchsbelästigung wird im Vergleich zur Kompostierung minimiert, da die Vergärung in geschlossenen Behältern erfolgt.</p>
            <h1>Zusammensetzung und Eigenschaften von Biogas</h1>
            <p>Biogas (= Sumpfgas, Faulgas) ist ein durch den anaeroben, mikrobiellen Abbau von organischen Stoffen entstehendes Gasgemisch, das zu 50 - 70 % aus dem hochwertigen Energieträger Methan (CH4) besteht. Weitere Bestandteile sind 30-40% Kohlendioxid (CO2) sowie Spuren von Schwefelwasserstoff (h1S), Stickstoff (N2), Wasserstoff (h1) und Kohlenmonoxid (CO):</p>
            <img alt="Tabelle" src="Images/Tabelle.svg" title="Tabelle" width="400" height="300"> 
            <p>Aufgrund des relativ hohen Energiegehaltes lässt sich Biogas als Energieträger für die Wärme- und Krafterzeugung nutzen. Der durchschnittliche Heizwert von Biogas beträgt etwa 6 kWh/m³ (entsprechen 21,6 MJ/m³). Somit entspricht der durchschnittliche Heizwert eines Kubikmeters Biogas etwa 0,6 Liter Heizöl.</p>
            <h1>Zusammenfassung von wichtigen Zahlen:</h1>
            <p>Das Biogas aus 1t organischer Reststoffe oder 3t Gülle/Festmist ersetzt ca. 60l Heizöl oder 120 kWh Strom-Netto und vermindert den Schadstoffausstoß von Kohlendioxid um 200 kg!</p>
         </div>
      </div>
      <footer>
         <p>© 2016 BENAS Biogasanlage GmbH | <a href="impressum.html">Impressum</a></p>
      </footer>
   </body>
</html>