{# templates/aktuelles.twig #}
{% extends 'layout.twig' %}

{% block title %} Aktuelles {% endblock %}

{% block bodyClass %}aktuelles{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}

{% set aktuellesInitContent %}
<h1>Neubau eines innovativen Gärproduktlagers</h1>
<p>Die Benas-Biogasanlage GmbH plant am Standort Ottersberg einen Gärproduktbehälter zu bauen.</p>
<p>Dieser Behälter soll dem Zweck dienen die Verweildauer der landwirtschaftlichen Rohstoffe in der Biogasanlage zu verlängern. Dadurch kann erreicht werden, dass aus jeder Tonne Input mehr Gas produziert werden kann. Dieses hat dann zwangsläufig zur Folge, dass weniger LKW-Anlieferungen nötig sind und in gleichem Verhältnis auch weniger Gärprodukt abtransportiert werden muss.</p>
<p>Über Gärversuche von 2 unabhängigen Laboren (IBS-GmbH aus Bremen und GNS-mbH aus Halle) wurde bestätigt, dass bei einer Verlängerung der Verweildauer um 40 Tage pro Tonne-Trockensubstanz Gärprodukt zusätzlich ca. 120m³ Biogas erzeugt werden können.</p>
<p>Dies entspricht einer Einsparung auf der Rohstoffseite von 7241 to Maissilage.</p>
<p>Bei einer durchschnittlichen LKW-Ladung von 25to können somit 289 LKW-Anlieferungen pro Jahr eingespart werden.</p>
<p>Dementsprechend sind es zusätzlich ca. 231 LKW-Ladungen die auch hinterher nicht wieder weggebracht werden müssen (ca. 80% der Rohstoffmenge wird am Ende des Gärprozesses wieder ausgebracht).</p>
<p>Neben den Einsparungen von 520 LKW-Transporten müssen dadurch auch ca. 181ha weniger Mais angebaut werden.</p>
<p>Die Gasproduktion auf dem Standort wird nicht erhöht. Es wird nur weniger gefüttert für die gleiche Gasproduktion.</p>
<p>Das Gas wird wie auf den anderen Behältern auch auf dem neuen Behälter in einem gasdichten Gasspeicher gesammelt und anschließend verstromt oder zu Erdgas aufbereitet.</p>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/aktuelles" method="post">
            <textarea name="content" id="content" rows="10" cols="80">
                {% if AktuellesContent|length > 0 %}
                    {{ AktuellesContent }}
                {% else %}
                    {{ aktuellesInitContent }}
                {% endif %}
            </textarea>
            <input type="submit" value="save"/>
            <script>
                ClassicEditor
                    .create( document.querySelector( '#content' ) )
                    .catch( error => {
                    console.error( error );
                } );
            </script>
        </form>
    {% else %}
        {% autoescape %}
            {% if AktuellesContent|length > 0 %}
                {{ AktuellesContent|raw }}
            {% else %}
                {{ aktuellesInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}
{% endblock %}






