{# templates/anfahrt.twig #}
{% extends 'layout.twig' %}

{% block title %} Anfahrt {% endblock %}

{% block bodyClass %}anfahrt{% endblock %}

{% block wrapperPrefix %}anfahrt{% endblock %}

{% block content %}


    <h1>Anfahrt Ottersberg</h1>
    <iframe class="big-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33391.60221795031!2d9.119360654305336!3d53.11950222944684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b11ed28dd6e167%3A0xfa394dc2dd38665b!2sBenas+GmbH!5e0!3m2!1sde!2sde!4v1467036019350"
            width="600" height="450" style="border:0" allowfullscreen></iframe>
    <iframe class="small-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.263998878519!2d9.144179953726676!3d53.123406358541416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b11ed28dd6e167%3A0xfa394dc2dd38665b!2sBenas+GmbH!5e0!3m2!1sde!2sde!4v1467330629297"
            width="400" height="300" style="border:0" allowfullscreen></iframe>
    <h1>Anfahrt Vorwerk</h1>
    <iframe class="big-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39582.31266750066!2d9.140577629284426!3d53.186327075411974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6eb0d0945d61148e!2sBenas+Biogasanlage+GmbH!5e0!3m2!1sde!2sde!4v1467036222999"
            width="600" height="450" style="border:0" allowfullscreen></iframe>
    <iframe class="small-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.931859166697!2d9.152927691746747!3d53.18871782735391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6eb0d0945d61148e!2sBenas+Biogasanlage+GmbH!5e0!3m2!1sde!2sde!4v1467330784924"
            width="400" height="300" style="border:0" allowfullscreen></iframe>

{% endblock %}