<!DOCTYPE html>
<html>
<head>
    <title>CreateArticle</title>
</head>
<body>

<form action="index.php?Controller=AdminController&Action=CreateArticle" method="post">
    <label for="header">Header</label>
    <input name="header" type="text">

    </input>
    <label for="text">Text</label>
    <input name="text" type="text">

    </input>
    <br />
    <label for="image">Bild</label>
    <input name="image" type="file">

    </input>
    <br />
    <input type="submit" value="Post"/>
</form>


</body>
</html>