<!DOCTYPE html>
<html lang="de-DE">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>BENAS GmbH - Das Team</title>
      <meta name="description" content="Das Team">
      <link rel="stylesheet" href="style.css">
   </head>
   <body class="das-team">
      <header>
         <input type="checkbox" id="menuToggle">
         <label for="menuToggle" class="menu-icon">&#9776;</label>
         <a href="index.html" title="Home"><img class="logo" src="Images/Logo.png" alt="Benas Logo" /></a>   
         <nav class="menu-mobile">
            <ul class="menu-ul">
               <li class="home"><a href="index.html">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
         <nav class="menu-desktop">
            <ul class="menu-ul">
               <li class="home"><a href="index.html">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
      </header>
       
       <!-- Alert Box 
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            Diese Website befindet sich momentan im Umbau. Hier dargestellte Informationen sind möglicherweise noch nicht aktuell. 
        </div>-->
   
       <!--
      <div class="das-team-wrapper">
         <div class="das-team-content-wrapper">
            <h1>BENAS Biogas GmbH</h1>
            <p>Die BENAS GmbH besteht seit 01.05.1999. Alleiniger Gesellschafter und Geschäftsführer ist Jürgen Heitmann. Von Herbst 1999 bis Frühjahr 2000 wurde am Standort Vorwerk eine Biomasse-Vergärungsanlage nach den Plänen von Herrn Heitmann errichtet. Gärvolumen ca. 5.000m³, geplante Leistung 800kW elektrisch. Diese Anlage wurde mit Rindergülle, nachwachsenden Rohstoffen und Kofermenten aus der Lebensmittelindustrie betrieben. Bis zum Jahr 2006 wurde diese Anlage stetig weiterentwickelt und ausgebaut. So wurde eine Hygienisierungsanlage und eine Gaskühlung errichtet, der Feststoffeintrag erneuert und weitere Blockheizkraftwerke angeschafft.</p> 
                <p>Derzeit ist die Anlage mit einer installierten elektrischen Leistung von 2.200 kW ausgerüstet. Im Winter 06/07 wurde ein weiterer Gärbehälter mit einem Volumen von 5.000 m³ errichtet. Seit 2007 wird diese Anlage nur noch mit  nachwachsenden Rohstoffen und Hühnertrockenkot betrieben (NaWaRo-Anlage).</p>
               <p>Im Jahr 2004 begannen die Pläne zur Errichtung einer Vergärungsanlage in Ottersberg.

            </p>
         </div>
      </div> -->
      <footer>
         <p>© 2016 BENAS Biogasanlage GmbH | <a href="impressum.html">Impressum</a></p>
      </footer>
   </body>
</html>