{# templates/das-team.twig #}
{% extends 'layout.twig' %}


{% block title %} das-team {% endblock %}

{% block bodyClass %}das-team{% endblock %}

{% block wrapperPrefix %}das-team{% endblock %}


{% block content %}


    <!--

         <h1>BENAS Biogas GmbH</h1>
         <p>Die BENAS GmbH besteht seit 01.05.1999. Alleiniger Gesellschafter und Geschäftsführer ist Jürgen Heitmann. Von Herbst 1999 bis Frühjahr 2000 wurde am Standort Vorwerk eine Biomasse-Vergärungsanlage nach den Plänen von Herrn Heitmann errichtet. Gärvolumen ca. 5.000m³, geplante Leistung 800kW elektrisch. Diese Anlage wurde mit Rindergülle, nachwachsenden Rohstoffen und Kofermenten aus der Lebensmittelindustrie betrieben. Bis zum Jahr 2006 wurde diese Anlage stetig weiterentwickelt und ausgebaut. So wurde eine Hygienisierungsanlage und eine Gaskühlung errichtet, der Feststoffeintrag erneuert und weitere Blockheizkraftwerke angeschafft.</p>
             <p>Derzeit ist die Anlage mit einer installierten elektrischen Leistung von 2.200 kW ausgerüstet. Im Winter 06/07 wurde ein weiterer Gärbehälter mit einem Volumen von 5.000 m³ errichtet. Seit 2007 wird diese Anlage nur noch mit  nachwachsenden Rohstoffen und Hühnertrockenkot betrieben (NaWaRo-Anlage).</p>
            <p>Im Jahr 2004 begannen die Pläne zur Errichtung einer Vergärungsanlage in Ottersberg.

         </p>
   -->


{% endblock %}
