{# templates/DeleteUser.twig #}
{% extends 'layout.twig' %}

{% block title %} DeleteUser {% endblock %}

{% block bodyClass %}DeleteUser{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
    <form action="../../index.php/Admin/DeleteUser" method="post">
        <label for="username">username</label>
        <select name="username" type="text">
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
        <br />
        <input type="submit" value="Delete"/>
    </form>



{% endblock %}
