<!DOCTYPE html>
<html lang="de-DE">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>BENAS GmbH - Dokumentation</title>
      <meta name="description" content="Dokumentation zur Hausarbeit">
      <link rel="stylesheet" href="../style.css">
   </head>
   <body class="dokumentation">
      <header>
         <input type="checkbox" id="menuToggle">
         <label for="menuToggle" class="menu-icon">&#9776;</label>
         <img class="logo" src="../Images/Logo.png" alt="Benas Logo" title="Benas Biogas GmbH Logo" />   
         <nav class="menu-mobile">
            <ul class="menu-ul">
               <li class="home"><a href="../index.html">Home</a></li>
               <li class="ueber-uns"><a href="../ueber-uns.html">Über uns</a></li>
               <li class="biogas"><a href="../biogas.html">Biogas</a></li>
               <li class="anlage"><a href="../anlage.html">Die Anlage</a></li>
               <li class="weitere-infos"><a href="../weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="../kontakt.html">Kontakt</a></li>
               <li class="anfahrt"><a href="../anfahrt.html">Anfahrt</a></li>
               <li class="dokumentation"><a href="dokumentation.html">Dokumentation</a></li>
               <li class="timeline"><a href="timeline.html">Timeline</a></li>
            </ul>
         </nav>
         <nav class="menu-desktop">
            <ul class="menu-ul">
               <li class="home"><a href="../index.html">Home</a></li>
               <li class="ueber-uns"><a href="../ueber-uns.html">Über uns</a></li>
               <li class="biogas"><a href="../biogas.html">Biogas</a></li>
               <li class="anlage"><a href="../anlage.html">Die Anlage</a></li>
               <li class="weitere-infos"><a href="../weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="../kontakt.html">Kontakt</a></li>
               <li class="anfahrt"><a href="../anfahrt.html">Anfahrt</a></li>
               <li class="dokumentation"><a href="dokumentation.html">Dokumentation</a></li>
               <li class="timeline"><a href="timeline.html">Timeline</a></li>
            </ul>
         </nav>
      </header>
      <div class="dokumentation-wrapper">
         <div class="dokumentation-content-wrapper">
            <h1>Dokumentation</h1>
             <h2>Michael Heitmann mihe9986 520149</br>
            Manuel Tiede mati9561 551181</h2>
            <p>Für die Umsetzung der Hausarbeit haben wir uns dafür entschieden eine Website für die BENAS GmbH zu erstellen.  Zuerst haben wir uns dafür überlegt in welchen Stil wir diese Website umsetzen möchten und was genau das Hauptziel sein soll, welches man mit ihr erreichen möchte. Da diese Website in erster Linie dazu dienen soll schnell an Informationen zu kommen, haben wir uns dazu entschlossen der Website ein eher schlichtes, aber dennoch zeitgemäßes Design zu geben.  Somit sollte die Website ein übersichtliches Menü ohne viele Untermenüs bekommen, damit man nicht lange suchen muss um an die gesuchten Informationen zu gelangen. Zudem sollten die einzelnen Menüpunkte selbsterklärend und klar ersichtlich sein. Auch ein aufgeräumtes und übersichtliches Design bzw. eine übersichtliche Anordnung der einzelnen Elemente wie z.B. die Bildergalerie oder ‘Textboxen‘ war uns sehr wichtig.</p>
            <p>Um eine bessere Vorstellung davon zu bekommen, wie wir unsere Vorstellung von der Website später in HTML und CSS umsetzen können, haben wir 3 Style Tiles angefertigt.  Mit Hilfe der Style Tiles haben wir dann versucht rauszufinden wie wir die einzelnen Objekte gestalten könnten und welche Farbkombinationen zu unseren Vorstellungen der Website passen könnten.  Letztendlich haben wir uns dann aber für den zweiten Entwurf entschieden. Einer der Hauptgründe war, dass es mit dem nur leichten Farbunterschied eher schlicht, aber auch modern wirkt. Wohingegen die anderen beiden, einen doch schon eher zu starken Kontrast oder eine zu kalte Atmosphäre haben. Zusätzlich wirkt das Style Tile mit den schlichten Boxen für den Text und dem einfachen Menü aufgeräumter und übersichtlicher.</p>
            <p>Da wir uns nun für ein Style Tile entschieden haben, wollten wir dieses noch weiter verändern und unsere Vorstellung der Seite näher bringen. Wir haben uns im Zuge dessen dazu entschieden, die Menüleiste noch größer zu gestalten und kontrastreicher, aber auch übersichtlicher erscheinen zu lassen. Zusätzlich haben wir uns noch mit mit der Frage beschäftigt, welche Farben später wirklich genutzt werden sollen und welche Schriftart wir benutzen. Bei der Farbe wollten wir, wie vorher schon festgelegt einen weichen Übergang der Farben im Hintergrund haben. Zusätzlich wollten wir das Grün, welches sich auch im Logo der Firma wiederfindet mit in den Stil der Seite mit einfließen lassen, damit die Seite nicht zu dunkel bzw. farblos wirkt. </p>
            <p>Während des Umsetzen der Website, haben wir dann dieses Grün als ‘Hauptkontrastfarbe‘ gegenüber dem dunklem grau und den hellen Farben auf der Website gewählt. Dazu haben wir die einzelnen Menüpunkte mit einer grünen Animation versehen und auch die Farbe bei dem markieren eines Testes auf grün gesetzt. Darüber hinaus haben wir ein leicht schwächeres grün gewählt, um den Menüpunkt in dem man sich aktuell befindet auch sichtbar zu markieren. Auch die noch nicht besuchten Links der Seite wurden grün eingefärbt, die dann nach dem Besuch die Farbe auf Blau wechseln.  Bei der Schriftart haben wir uns für serifenlose Schriftart Lato entschieden. Da diese Schriftart schlicht gehalten ist, passt sie gut zu dem einfachen und aufgeräumten Design der Website.</p>
            <p>Die von uns verwendeten Weißtöne: #FFFDF9, #FBF9F5, #FCFCFC, #FFFFFF</p>
            <p>Die von uns verwendeten Grautöne: #D4D0CC;</p>
            <p>Die von uns verwendeten Schwarztöne: #333231; #242322;</p>
            <p>Die von uns verwendeten Grüntöne: #7EB880, #014A02</p>
            <p>Für die Positionen der einzelnen Elemente auf der Homepage haben wir eine Skizze angefertigt, auf der wir versucht haben ein modernes und aufgeräumtes Erscheinungsbild zu erschaffen. Das Menü sollte ganz oben auf der Website platziert sein. Darunter sollte dann mit ein wenig Abstand das Logo der Firma. Die einzelnen Texte und auch die Bilder sollten auf den einzelnen Boxen platziert werden, damit wir ein aufgeräumtes und modernes Design bekommen. Diese Boxen sollten dann mit ein klein wenig Abstand unter dem Logo platziert werden.</p>
            <p>Während des Gestaltungsprozesses haben wir gemerkt, dass wir ein moderner und übersichtlicheres Design erzielen könne, wenn wir die Menüleiste ein wenig höher gestalten und diese dann wesentlich tiefer platzieren.  Ferner haben wir noch gemerkt, dass es in der Galerie viel übersichtlicher und moderner wirkt, wenn wir die Bilder unter dem Punkt ‘Anlage‘ nicht nebeneinander oder untereinander positionieren. Sondern diese als Slideshow in dem passendem Block laufen zulassen und haben diesen dann einen hover Effekt gegeben, der Informationen über das jeweils gerade angezeigte Bild liefert. Bei dem Footer waren wir uns vor der fast fertigen Website nicht sicher ob wir diesen fest am Ende der Website oder doch immer am Boden vom aktuellen Bildschirmrand platzieren sollen. Allerdings haben wir uns, nachdem wir auf der, bis auf den footer, fertigen Seite beide Varianten probiert haben, dafür entschieden, den Footer am Boden des Bildschirms zu platzieren.</p>
            <p>Für die Umsetzung des responsiven Webdesigns haben wir uns dazu entschieden unsere Website für Smartphones und für Desktoprechner zu gestalten. Für die mobile Version wollten wir eine komplett andere Menüführung und haben dementsprechend den für Smartphones üblichen Menüknopf und die dazu passende Menüleiste erstellt. Die Positionierung des Knopfes oben rechts und das Menü Links haben wir absichtlich so gewählt, da man diesen so besser mit den Daumen erreichen kann. Danach haben wir dann angefangen den Content und die Elemente so zu platzieren, dass sie auf dem Smartphone gut lesbar, erreichbar und bedienbar sind. Mit Hilfe der Media Queries das Layout für die Desktop Version angepasst. Wir mussten bei der Realisierung der Standardanzeige per Google Maps noch eine weiter Media Querie hinzufügen, da sich sonst die Karten beim zusammenschieben schon über die Box geschoben hat, bevor die Website in den mobilen Modus gewechselt ist. Als nächstes haben wir uns dann um das Layout der Desktopversion gekümmert. Hier haben wir dann auch die große Menüleiste gestaltet und diese dann platziert. Als nächstes haben wir uns auch hier noch um die Schriftgröße, Größe und Positionen der einzelnen Elemente gekümmert.</p>
         </div>
      </div>
      <footer>
         <p>© 2016 BENAS Biogasanlage GmbH | <a href="../impressum.html">Impressum</a></p>
      </footer>
   </body>
</html>