<!DOCTYPE html>
<html>
<head>
    <title>Fehler</title>
</head>
<body>
<p>
    {{ error }}
</p>
<a href="index.php?Controller=Admincontroller&Action=LoginUser">Zum Login</a>
<br />
{% include 'list.twig' %}
</body>
</html>