{# templates/Error.twig #}
{% extends 'layout.twig' %}

{% block title %} Error {% endblock %}

{% block bodyClass %}error{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p>
    {{ error }}
</p>


{% endblock %}