{# templates/home.twig #}
{% extends 'layout.twig' %}

{% block title %} Home {% endblock %}

{% block wrapperPrefix %}home{% endblock %}

{% block content %}
    <p>Biologisch</p>
    <p>Energetische</p>
    <p>Nutzbarmachung</p>
    <p>von</p>
    <p>Abfallstoffen</p>
{% endblock %}




