<!DOCTYPE html>
<html lang="de-DE">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>BENAS GmbH - Impressum</title>
      <meta name="description" content="Das Impressum">
      <link rel="stylesheet" href="style.css">
   </head>
   <body class="impressum">
      <header>
         <input type="checkbox" id="menuToggle">
         <label for="menuToggle" class="menu-icon">&#9776;</label>
         <a href="../../Index.php/Pages/home" title="Home"><img class="logo" src="../../Images/Logo.png" alt="Benas Logo" /></a>
         <nav class="menu-mobile">
            <ul class="menu-ul">
               <li class="home"><a href="../../Index.php/Pages/home">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
         <nav class="menu-desktop">
            <ul class="menu-ul">
               <li class="home"><a href="../../Index.php/Pages/home">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
      </header>
       
       <!-- Alter Box!
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            Diese Website befindet sich momentan im Umbau. Hier dargestellte Informationen sind möglicherweise noch nicht aktuell. 
        </div> -->
       
      <div class="impressum-wrapper">
         <div class="impressum-content-wrapper">
            <h1>Impressum</h1>
            <p>BENAS GmbH<br />
               Diekweg 1<br />27412 Vorwerk
            </p>
            <p>Telefon: 04288 - 265<br />
               Telefax: 04288 - 92 89 50<br />
               E-Mail: <a href="mailto:mail@benas-biogas.com">mail@benas-biogas.com</a><br />
            </p>
            <p><strong>Vertreten durch:</strong><br />Geschäftsführer: Jürgen Heitmann <br />
               Amtsgericht Tostedt HRB 120335
            </p>
         </div>
      </div>
      <footer>
         <p>© 2016 BENAS Biogasanlage GmbH | <a href="impressum.html">Impressum</a></p>
      </footer>
   </body>
</html>