{# templates/kontakt.twig #}
{% extends 'layout.twig' %}

{% block title %} kontakt {% endblock %}

{% block bodyClass %}kontakt{% endblock %}

{% block wrapperPrefix %}kontakte{% endblock %}

{% set kontaktInitContent %}
    <h1>BENAS GmbH</h1>
    <h2>Kontakt Vorwerk</h2>
    <ul>
        <li>Diekweg 1</li>
        <li>27412 Vorwerk</li>
        <li>
            <a href="mailto:mail@benas-biogas.com?cc=C.Heitmann@benas-biogas.com&subject=Email%20via%20Website&body=Ihr%20Text%20hier">mail@benas-biogas.com</a>
        </li>
        <li>04288 - 265</li>
        <li>04288 - 928950</li>
    </ul>
    <h2>Kontakt Ottersberg</h2>
    <ul>
        <li>Kreuzbuchen 2</li>
        <li>28870 Ottersberg</li>
        <li>
            <a href="mailto:C.Heitmann@benas-biogas.com?cc=mail@benas-biogas.com&subject=Email%20via%20Website&body=Ihr%20Text%20hier">C.Heitmann@benas-biogas.com</a>
        </li>
        <li>04205 - 3195 440</li>
        <li>04205 - 3195 441</li>
    </ul>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/kontakt" method="post">
            <textarea name="content" id="content" rows="10" cols="80">
                {% if KontaktContent|length > 0 %}
                {{ KontaktContent }}
                {% else %}
                    {{ kontaktInitContent }}
                {% endif %}
            </textarea>
            <input type="submit" value="save"/>
            <script>
                ClassicEditor
                    .create( document.querySelector( '#content' ) )
                    .catch( error => {
                    console.error( error );
                } );
            </script>
        </form>

    {% else %}
        {% autoescape %}
            {% if KontaktContent|length > 0 %}
                {{ KontaktContent|raw }}
            {% else %}
                {{ kontaktInitContent }}

            {% endif %}
        {% endautoescape %}
    {% endif %}

    <h2>Kontaktformular</h2>
    <form id="kontaktformular" name="kontaktformular" action="MAILTO:michael.j.heitmann@gmail.com"
          method="post" enctype="text/plain">
        <div>
            <label for="absender">Ihre E-Mail-Adresse:</label>
            <input type="text" id="absender" name="absender"/>
        </div>
        <div>
            <label for="nachricht">Ihre Nachricht:</label>
            <textarea id="nachricht" name="nachricht" cols="20" rows="5"></textarea>
        </div>
        <div>
            <input type="submit" value="nicht abschicken"/>
        </div>
    </form>

{% endblock %}
