<!DOCTYPE html>
<html lang="de-DE">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>BENAS GmbH - Kontakt</title>
      <meta name="description" content="Kontaktinformationen">
      <link rel="stylesheet" href="style.css">
   </head>
   <body class="kontakt">
      <header>
         <input type="checkbox" id="menuToggle">
         <label for="menuToggle" class="menu-icon">&#9776;</label>
         <a href="../../Index.php/Pages/home" title="Home"><img class="logo" src="../../Images/Logo.png" alt="Benas Logo" /></a>
         <nav class="menu-mobile">
            <ul class="menu-ul">
               <li class="home"><a href="../../Index.php/Pages/home">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
         <nav class="menu-desktop">
            <ul class="menu-ul">
               <li class="home"><a href="../../Index.php/Pages/home">Home</a></li>
               <li class="das-team"><a href="das-team.html">Das Team</a></li>
               <li class="biogas"><a href="biogas.html">Biogas</a></li>
               <li class="anlage"><a href="anlage.html">Die Anlagen</a></li>
                <li class="rohstoffmanagement"><a href="rohstoffmanagement.html">Rohstoffmanagement</a></li>
               <li class="weitere-infos"><a href="weitere-infos.html">Weitere Links</a></li>
               <li class="kontakt"><a href="kontakt.html">Kontakt</a></li>
                <li class="aktuelles"><a href="aktuelles.html">Aktuelles</a></li>
               <li class="anfahrt"><a href="anfahrt.html">Anfahrt</a></li>
            </ul>
         </nav>
      </header>
       
       <!-- Alter Box!
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            Diese Website befindet sich momentan im Umbau. Hier dargestellte Informationen sind möglicherweise noch nicht aktuell. 
        </div> -->
       
      <div class="kontakte-wrapper">
         <div class="kontakte-content-wrapper">
            <h1>BENAS GmbH</h1>
            <h2>Kontakt Vorwerk</h2>
            <ul>
               <li>Diekweg 1</li>
               <li>27412 Vorwerk</li>
               <li><a href="mailto:mail@benas-biogas.com?cc=C.Heitmann@benas-biogas.com&subject=Email%20via%20Website&body=Ihr%20Text%20hier">mail@benas-biogas.com</a></li>
               <li>04288 - 265</li>
               <li>04288 - 928950</li>
            </ul>
            <h2>Kontakt Ottersberg</h2>
            <ul>
               <li>Kreuzbuchen 2</li>
               <li>28870 Ottersberg</li>
               <li><a href="mailto:C.Heitmann@benas-biogas.com?cc=mail@benas-biogas.com&subject=Email%20via%20Website&body=Ihr%20Text%20hier">C.Heitmann@benas-biogas.com</a></li>
               <li>04205 - 3195 440</li>
               <li>04205 - 3195 441</li>
            </ul>
            <h2>Kontaktformular</h2>
            <form id="kontaktformular" name="kontaktformular" action="MAILTO:michael.j.heitmann@gmail.com"
               method="post" enctype="text/plain">
               <div>
                  <label for="absender">Ihre E-Mail-Adresse:</label>
                  <input type="text" id="absender" name="absender" />
               </div>
               <div>
                  <label for="nachricht">Ihre Nachricht:</label>
                  <textarea id="nachricht" name="nachricht" cols="20" rows="5"></textarea> 
               </div>
               <div>
                  <input type="submit" value="nicht abschicken" />
               </div>
            </form>
         </div>
      </div>
      <footer>
         <p>© 2016 BENAS Biogasanlage GmbH | <a href="impressum.html">Impressum</a></p>
      </footer>
   </body>
</html>