
<ul>
        <li><a href="index.php?Controller=AdminController&Action=LogoutUser">LogoutUser</a></li>
        <li><a href="index.php?Controller=AdminController&Action=LoginUser">LoginUser</a></li>
        <li><a href="index.php?Controller=AdminController&Action=CreateUser">CreateUser</a></li>
        <li><a href="index.php?Controller=AdminController&Action=DeleteUser">DeleteUser</a></li>
        <li><a href="index.php?Controller=AdminController&Action=AssignRole">AssignRole</a></li>
</ul>
