
<ul>
        <li><a href="../../index.php/Admin/LogoutUser">LogoutUser</a></li>
        <li><a href="../../index.php/Admin/LoginUser">LoginUser</a></li>
        <li><a href="../../index.php/Admin/CreateUser">CreateUser</a></li>
        <li><a href="../../index.php/Admin/DeleteUser">DeleteUser</a></li>
        <li><a href="../../index.php/Admin/AssignRole">AssignRole</a></li>
        <li><a href="../../index.php/Admin/CreateArticle">CreateArticle</a></li>
</ul>
