
<ul>
        <li><a href="index.php?Controller=Admincontroller&Action=LogoutUser">LogoutUser</a></li>
        <li><a href="index.php?Controller=Admincontroller&Action=LoginUser">LoginUser</a></li>
        <li><a href="index.php?Controller=Admincontroller&Action=CreateUser">CreateUser</a></li>
        <li><a href="index.php?Controller=Admincontroller&Action=DeleteUser">DeleteUser</a></li>
        <li><a href="index.php?Controller=Admincontroller&Action=AssignRole">AssignRole</a></li>
</ul>
