{# templates/LoggedOut.twig #}
{% extends 'layout.twig' %}

{% block title %} LoggedOut {% endblock %}

{% block bodyClass %}logoutUser{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p>succesfully logged out</p>

{% endblock %}