{# templates/LoggedIn.twig #}
{% extends 'layout.twig' %}

{% block title %} LoggedIn {% endblock %}

{% block bodyClass %}mitarbeiter{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p>Als &bdquo;{{ username }}&ldquo; eingeloggt.</p>

{% endblock %}