{# templates/LoggedIn.twig #}
{% extends 'layout.twig' %}

{% block title %} LoggedIn {% endblock %}

{% block bodyClass %}mitarbeiter{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p> {{ username }} logged in</p>

{% endblock %}