{# templates/LoginUser.twig #}
{% extends 'layout.twig' %}

{% block title %} LoginUser {% endblock %}

{% block bodyClass %}loginUser{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
    <form action="../../index.php/Admin/LoginUser" method="post">
        <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>
        <label for="username">Benutzername</label>
        <input name="username" type="text"/>
        <label for="password">Passwort</label>
        <input name="password" type="password"/>
        <input type="submit" value="Anmelden"/>
    </form>

{% endblock %}