{# templates/rohstoffmanagement.twig #}
{% extends 'layout.twig' %}

{% block title %}Rohstoffmanagement{% endblock %}

{% block bodyClass %}rohstoffmanagement{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}

{% block content %}
<h1>In Arbeit</h1>
<p>In Arbeit</p>

<!--
<div class="rohstoffmanagement-wrapper">
  <div class="rohstoffmanagement-content-wrapper">
     <h1>Lohnunternehmen</h1>
     <div class="links">
        <ul>
           <li><a href="http://jacobs-hof.de/">Dirk Gieschen</a></li>
        </ul>
        <h1>Sonstiges</h1>
        <ul>
           <li><a href="http://biogas.org/edcom/webfvb.nsf/ID/DE_Homepage/">Fachverband Biogas eV</a></li>
           <li><a href="http://www.kompost.de/startseite/">Bundesgütegemeinschaft Kompost eV</a></li>
        </ul>
     </div>
  </div>
</div> -->
{% endblock %}
