{# templates/rohstoffmanagement.twig #}
{% extends 'layout.twig' %}

{% block title %}Rohstoffmanagement{% endblock %}

{% block bodyClass %}rohstoffmanagement{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}

{% set rohstoffmanagementInitContent %}
    <h1>In Arbeit</h1>
    <p>Inhalt folgt in Kürze</p>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/rohstoffmanagement" method="post">
            <textarea name="content" id="content" rows="10" cols="80">
                {% if RohstoffmanagementContent|length > 0 %}
                    {{ RohstoffmanagementContent }}
                {% else %}
                    {{ rohstoffmanagementInitContent }}
                {% endif %}
            </textarea>
            <input type="submit" value="save"/>
            <script>
                ClassicEditor
                    .create( document.querySelector( '#content' ) )
                    .catch( error => {
                    console.error( error );
                } );
            </script>
        </form>
    {% else %}
        {% autoescape %}
            {% if RohstoffmanagementContent|length > 0 %}
                {{ RohstoffmanagementContent|raw }}
            {% else %}
                {{ rohstoffmanagementInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}
{% endblock %}
