{# templates/RoleAssigned.twig #}
{% extends 'layout.twig' %}

{% block title %} RoleAssigned {% endblock %}

{% block bodyClass %}mitarbeiter{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p> {{ username }} ist jetzt ein {{ role }}.</p>

{% endblock %}