{# templates/RoleAssigned.twig #}
{% extends 'layout.twig' %}

{% block title %} RoleAssigned {% endblock %}

{% block bodyClass %}RoleAssigned{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p> {{ username }} is now {{ role }}</p>

{% endblock %}