{# templates/UserCreated.twig #}
{% extends 'layout.twig' %}

{% block title %} UserCreated {% endblock %}

{% block bodyClass %}createUser{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p> {{ username }} wurde als {{ role }} erstellt.</p>

{% endblock %}