{# templates/UserCreated.twig #}
{% extends 'layout.twig' %}

{% block title %} UserCreated {% endblock %}

{% block bodyClass %}mitarbeiter{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<p> {{ username }} created as {{ role }}</p>

{% endblock %}