{# templates/weitere-infos.twig #}
{% extends 'layout.twig' %}

{% block title %}BENAS GmbH - Weitere Links{% endblock %}

{% block bodyClass %}weitere-infos{% endblock %}

{% block wrapperPrefix %}weitere-infos{% endblock %}

{% block content %}

<h1>Lohnunternehmen</h1>
    <div class="links">
        <ul>
            <li><a href="http://jacobs-hof.de/">Dirk Gieschen</a></li>
        </ul>
        <h1>Sonstiges</h1>
        <ul>
            <li><a href="http://biogas.org/edcom/webfvb.nsf/ID/DE_Homepage/">Fachverband Biogas eV</a></li>
            <li><a href="http://www.kompost.de/startseite/">Bundesgütegemeinschaft Kompost eV</a></li>
        </ul>
    </div>
    {% endblock %}









