@charset "utf-8";
@font-face {
    font-family: 'Lato';
    src: url('../Fonts/Lato-Black.ttf') format('truetype'), url('../Fonts/Lato-Bold.ttf') format('truetype'), url('../Fonts/Lato-Hairline.ttf') format('truetype'), url('../Fonts/Lato-Heavy.ttf') format('truetype'), url('../Fonts/Lato-Light.ttf') format('truetype'), url('../Fonts/Lato-Medium.ttf') format('truetype'), url('../Fonts/Lato-Regular.ttf') format('truetype'), url('../Fonts/Lato-Semibold.ttf') format('truetype'), url('../Fonts/Lato-Thin.ttf') format('truetype');
}


* {
    padding: 0;
    margin: 0;
    color: #242322;
}
body {
    font-family: 'Lato', 'helvetica', sans-serif;
    background-color: #FBF9F5;
}
/* Laut W3schools.com ist der ::selection Pseudoselector nicht mehr in CSS3 vorhanden, wir wollten den Effekt allerdings beibehalten und machen über diesen Kommentar darauf aufmerksam, dass wir wissen, dass es nicht valide ist */

::selection {
    color: #FFFDF9;
    background-color: #8ca813;
}

body {
    background: url(../../Images/Home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.das-team {
    background: url(../../Images/team2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    background: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    opacity: 0.8;
    font-size: 0.6em;
}
footer p,
footer a {
    bottom: 0px;
    text-align: center;
    color: #FFFDF9;
}
/*absichtlich grün wegen internem link*/

footer a:hover {
    color: #8ca813;
}
h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #333231;
}

li {
    margin: 10px;
}

.links a:visited {
    color: #8ca813;
}
.links a:active {
    color: blue;
}
.mail-link:active {
    color: blue;
}
.links a:hover {
    color: blue;
}
.mail-link:hover {
    color: blue;
}
.logo {
    position: relative;
    left: 50%;
    margin-left: -198.5px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 397px;
    height: 160px;
}
.menu-mobile {
    opacity: 0.9;
    width: 100%;
    text-align: left;
}

.menu-mobile2 {
    opacity: 0.9;
    width: 100%;
    text-align: left;
}
.menu-mobile a {
    display: block;
    padding: 25px 0 30px 30px;
    border-bottom: 1px solid #374041;
    color: #FFF;
}
.menu-mobile2 a {
    display: block;
    padding: 25px 0 30px 30px;
    border-bottom: 1px solid #374041;
    color: #FFF;
}
.menu-mobile a:hover {
    background: #8ca813;
    color: #FFFFFF;
}
.menu-mobile a:active {
    background: #8ca813;
    color: #FFFFFF;
}
.menu-mobile2 a:hover {
    background: #8ca813;
    color: #FFFFFF;
}
.menu-mobile2 a:active {
    background: #8ca813;
    color: #FFFFFF;
}
.menu-desktop {
    display: none;
}
.menu-mobile {
    width: 240px;
    height: 100%;
    position: absolute;
    background: #000;
    bottom: 0;
    left: -240px;
    z-index: 100;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.menu-mobile2 {

    width: 240px;
    height: 100%;
    position: absolute;
    background: #000;
    bottom: 0;
    left: 0px;


}

.menu-mobile2 ul {

    list-style: none;

}

.menu-mobile a {
    font-size: 1.3em;
    text-decoration: none;
}
.menu-mobile2 a {
    font-size: 1.3em;
    text-decoration: none;
}
.menu-icon {
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 10vw;
    font-size: 3em;
    background: #8ca813;
    color: #111;
    cursor: pointer;
    float: right;
    width: 10vw;
    height: 10vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-icon:before{
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

.menu-icon:active {
    background: #333;
    color: #FFFDF9;
}

#menuToggle {
    display: none;
}


input[type=checkbox]:checked ~ .menu-mobile {
    position: absolute;
    left: 0px;
}

input[type=checkbox]:checked ~ .menu-mobile2 {
    display: none;
}


.menu-mobile ul li:active,
body.home li.home,
body.biogas li.biogas,
body.das-team li.das-team,
body.anlage li.anlage,
body.rohstoffmanagement li.rohstoffmanagement,
body.weitere-infos li.weitere-infos,
body.kontakt li.kontakt,
body.aktuelles li.aktuelles,
body.anfahrt li.anfahrt,
body.loginUser li.mitarbeiter,
body.loginUser li.anmelden,
body.createUser li.mitarbeiter,
body.createUser li.benutzer-anlegen,
body.deleteUser li.mitarbeiter,
body.deleteUser li.benutzer-loeschen,
body.createArticle li.mitarbeiter,
body.createArticle li.benas-blog,
body.logoutUser li.mitarbeiter,
body.logoutUser li.abmelden,
body.assignRole li.mitarbeiter,
body.assignRole li.rolle-zuweisen,
body.dokumentation li.dokumentation {

    background-color: #e4ce05;
}

.dokumentation {
    background-color: #222222;
}


.menu-mobile {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home-wrapper {
    background: rgba(0, 0, 0, .6);

}
.home-wrapper p {
    font-family: 'lato light', 'helvetica', sans-serif;
    color: #FFFDF9;
    margin-right: 20px;
    text-align: right;
    font-size: 3.2em;
    text-transform: uppercase;
}

.biogas-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.biogas-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.biogas-content-wrapper h1 {
    padding-top: 15px;
}
.biogas-content-wrapper p {
    text-align: left;
    margin: 50px;
}
/*#anlage-headtext {
    text-shadow: 2px 2px #000;
    color: white;
    margin: 50px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'lato light', 'helvetica', sans-serif;
}
.anlage-content-wrapper {
    position: relative;
    text-align: center;
    width: 600px;
    height: 710px;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
    box-shadow: 10px 10px 20px #D4D0CC;
}
.anlage-content {

    text-align: left;

    left: 50%;

    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;

}
.anlage-content-wrapper h1 {
    padding-top: 20px;
}*/
.anlage-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.anlage-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.anlage-content-wrapper h1 {
    padding-top: 15px;
}
.anlage-content-wrapper p {
    text-align: center;
    margin: 50px;
}

.anlage-content-wrapper ul {

    list-style:none;
    position:relative;
    margin: 0px;
    padding: 20px;
}

.anlage-boxes {
    border-bottom: 4px solid rgba(0, 0, 0, .6);
    padding: 30px;
    margin: 5px;

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

#rohstoffmanagement-headtext {
    margin: 50px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'lato light', 'helvetica', sans-serif;
}
.rohstoffmanagement-content-wrapper {
    position: relative;
    text-align: center;
    width: 600px;
    height: 710px;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.rohstoffmanagement-content {

    text-align: left;

    left: 50%;

    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

}
.rohstoffmanagement-content-wrapper h1 {
    padding-top: 20px;
}
.rohstoffmanagement-content-wrapper ul {
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
.weitere-infos-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.weitere-infos-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.weitere-infos-content-wrapper h1 {
    margin: 25px;
}
.weitere-infos-content-wrapper ul {
    list-style: none;
}
.weitere-infos-content-wrapper ul li {
    margin-bottom: 20px;
}
.kontakte-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.kontakte-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.kontakte-content-wrapper h1 {
    margin: 15px;
}
.kontakte-content-wrapper h2 {
    padding: 15px;
}
.kontakte-content-wrapper ul {
    list-style: none;
}
.article{
    border-top: 4px solid rgba(0, 0, 0, .6);
    margin-top: 10px;
    padding: 5px;
}

#footnote{
    font-style: oblique;
    font-size: 0.8em;
}

form {
    padding-top: 25px;
}
label {
    margin-top: 10px;
    display: block;
    cursor: pointer;
}
input#absender,
textarea {
    width: 300px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
    resize: none;
}
textarea {
    height: 7em;
}
input:focus,
textarea:focus {
    background-color: #FAFAFA;
}
input[type=submit] {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px 15px;
    background: #333;
    color: #FFFDF9;
    border: 0 none;
    cursor: pointer;
    height: 69px;
    font-family: 'Lato', 'helvetica', sans-serif;
    font-size: 1em;
}
input[type=submit]:hover {

    background: #8ca813;
}



select[type=text] {
    margin: 15px;
    padding: 5px 15px;
    background: #333;
    color: #FFFDF9;
    border: 0 none;
}

select[type=text]:hover {

    background: #8ca813;
}

.anfahrt-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.anfahrt-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.big-frame {
    display: none;
}
.small-frame {
    padding-top: 25px;
    padding-bottom: 25px;
}
.impressum-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.impressum-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.impressum-content-wrapper p {
    text-align: center;
    margin: 50px;
}

.content {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    background-color: #333;
}

.dokumentation-wrapper {
    display: block;
    margin-left: 1%;
    margin-right: 0%;
}
.dokumentation-content-wrapper {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
    background-color: #FFFDF9;
}
.dokumentation-content-wrapper p {
    text-align: left;
    margin: 50px;
}

img {
    max-width: 580px;
    height: 420px;
}

/* The alert message box */
.alert {
    padding: 20px;
    text-align: center;
    background-color: darkorange;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}



@media (min-width: 640px) {

    .biogas-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
    .weitere-infos-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
    .kontakte-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
    .anfahrt-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
    .impressum-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
    .dokumentation-wrapper {
        display: block;
        margin-left: 9%;
        margin-right: 10%;
    }
}

@media (max-height: 640px) {
    .home-wrapper {
        display: none;
    }
}

@media (min-width: 1224px) {

    .menu-mobile2 {
        display: none;
    }

    .home-wrapper {
        position: fixed;
        bottom: 10%;
        width: 100%;

    }
    .home-wrapper p {
        margin-right: 240px;
    }

    .biogas-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }

    .anlage-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .weitere-infos-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .kontakte-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .anfahrt-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .impressum-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .dokumentation-wrapper {
        display: block;
        margin-left: 19%;
        margin-right: 20%;
    }
    .menu-desktop {
        display: inherit;
    }
    .menu-mobile {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .menu-desktop ul {
        opacity: 0.8;
        width: 100%;
        background: #000;
        padding: 0;
        text-align: center;
    }
    .menu-desktop ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .menu-desktop ul li a {
        position: relative;
        display: block;
        padding: 25px 25px 25px 25px;
        color: white;
        text-decoration: none;
        z-index: 1;
    }
    .menu-desktop ul li a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background-color: #8ca813;
        transition: all 250ms;
        z-index: -1;
    }
    .menu-desktop ul li a:hover::before {
        height: 100%;
    }
    /*  .menu-desktop ul li:active::before{
          background-color: #e4ce05;
      }
      .menu-desktop ul li:active,
      body.home li.home,
      body.biogas li.biogas,
      body.das-team li.das-team,
      body.anlage li.anlage,
      body.rohstoffmanagement li.rohstoffmanagement,
      body.weitere-infos li.weitere-infos,
      body.kontakt li.kontakt,
      body.aktuelles li.aktuelles,
      body.anfahrt li.anfahrt,
      body.mitarbeiter li.mitarbeiter,
      body.dokumentation li.dokumentation
      {
          background-color: #e4ce05;
      }*/
    .big-frame {
        display: block;
        margin: 0 auto;
        padding: 25px;
        padding-bottom: 75px;
    }
    .small-frame {
        display: none;
    }


}